.navbar .navbar-default {
	background-color: #66c1ff;
    border-color: #E7E7E7;
}

body {
	background-image: url(http://freetiiupixscnry.cwahi.net/images/stormy_sea/ocean_waves_3_FreeTiiuPix.com.JPG); 	
	background-repeat: no-repeat;
	background-size: cover;
}

.score {
	width: 100px;
	
	margin-top: 140px;
/*	padding-top: 205px;*/
	padding-left: 100px;
	border: 5px solid #ddd;
	float: right ;
	background: #99d6ff;
}

#container {
	/*width: 630px;*/
	width: 390px;
	margin: auto;
	/*margin-right: 45px;*/
	margin-top: 50px;
	/*margin-bottom: 100px;*/
	padding-top: 50px;
	/*padding-bottom: 50px;*/
	border: 15px solid #0089e6;
	border-radius: 12px;
	float: relative;
	
}

/*.userName {
	width: 300px;
	
	margin-top: 140px;
	padding-top: 205px;
	padding-left: 100px;
	border: 5px solid #ddd;
	float: left;
/*background: #0065cc;
}*/


.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; 
}



.userName {
	margin-top: 140px;
	/*padding-top: 205px;
	padding-right: 100px;
	border: 5px solid #ddd;
	float: left;
	background: #0065cc;
}


